.articles-wrapper
  section.articles
    h2.articles-heading
      | Articles
    .articles-grid
      a(href="article.html").articles-grid-item
        .articles-grid-item-illustration(style="background-image: url('http://lorempixel.com/290/180/city/2')")
        .articles-grid-item-content
          .articles-grid-item-heading
            | Finance is a field that deals with the study of investments
          .articles-grid-item-date
            | 18.12.2016
      a(href="article.html").articles-grid-item
        .articles-grid-item-illustration(style="background-image: url('http://lorempixel.com/290/180/city/3')")
        .articles-grid-item-content
          .articles-grid-item-heading
            | Finance is a field that deals with the study of investments
          .articles-grid-item-date
            | 18.12.2016
      a(href="article.html").articles-grid-item
        .articles-grid-item-illustration(style="background-image: url('http://lorempixel.com/290/180/city/4')")
        .articles-grid-item-content
          .articles-grid-item-heading
            | Finance is a field that deals with the study of investments
          .articles-grid-item-date
            | 18.12.2016
