nav.menu.menu-collapsed
  .menu-shade
  .menu-heading
    | menu
  .menu-close-control.js-menu-collapse-control
    i.ion-android-close
  .menu-search
    form(action="search.html" method="post").menu-search-form
      input(type="text" placeholder="search").menu-search-field
      button.menu-search-button
        i.menu-search-button-icon.finaut-icon-search
  ul.menu-list
    li.menu-item
      a(href="#").menu-link.menu-link-active
        | Menu item one
    li.menu-item
      a(href="#").menu-link
        | Menu item two
    li.menu-item
      a(href="#").menu-link
        | Menu item three
    li.menu-item
      a(href="#").menu-link
        | Menu item four
    li.menu-item
      a(href="#").menu-link
        | Menu item five
    li.menu-item
      a(href="#").menu-link
        | Menu item six
  a(href="#").menu-login
    i.menu-login-icon.finaut-icon-user
    .menu-login-text
      | Log in
  a(href="#").menu-language
    i.menu-language-icon.finaut-icon-arrow-down
    | English
  .menu-social
    a(href="#").menu-social-icon
      i.ion-social-facebook
    a(href="#").menu-social-icon
      i.ion-social-linkedin
    a(href="#").header-social-icon
      i.ion-social-twitter
