.members-wrapper
  section.members
    h2.members-heading
      | Our members
    form(action="#" method="get").members-filter-form
      .members-filter-field-wrapper
        input(type="text" placeholder="Start typing").members-filter-field
        button(type="submit").members-filter-button
          i.members-filter-button-icon.finaut-icon-search
    .members-grid
      a(href="#").members-grid-item
        .members-grid-item-logo(style="background-image: url('http://ramsdelldesign.com/wp-content/uploads/2016/01/logo_fscreations-1-300x300.png')")
        .members-grid-item-heading-wrapper
          .members-grid-item-heading
            | Norad
      a(href="#").members-grid-item
        .members-grid-item-logo(style="background-image: url('http://ramsdelldesign.com/wp-content/uploads/2016/01/logo_fscreations-1-300x300.png')")
        .members-grid-item-heading-wrapper
          .members-grid-item-heading
            | DNB
      a(href="#").members-grid-item
        .members-grid-item-logo(style="background-image: url('http://ramsdelldesign.com/wp-content/uploads/2016/01/logo_fscreations-1-300x300.png')")
        .members-grid-item-heading-wrapper
          .members-grid-item-heading
            | HNIT
      a(href="#").members-grid-item
        .members-grid-item-logo(style="background-image: url('http://ramsdelldesign.com/wp-content/uploads/2016/01/logo_fscreations-1-300x300.png')")
        .members-grid-item-heading-wrapper
          .members-grid-item-heading
            | WWF
      a(href="#").members-grid-item
        .members-grid-item-logo(style="background-image: url('http://ramsdelldesign.com/wp-content/uploads/2016/01/logo_fscreations-1-300x300.png')")
        .members-grid-item-heading-wrapper
          .members-grid-item-heading
            | Norad
      a(href="#").members-grid-item
        .members-grid-item-logo(style="background-image: url('http://ramsdelldesign.com/wp-content/uploads/2016/01/logo_fscreations-1-300x300.png')")
        .members-grid-item-heading-wrapper
          .members-grid-item-heading
            | Unesco
      a(href="#").members-grid-item
        .members-grid-item-logo(style="background-image: url('http://ramsdelldesign.com/wp-content/uploads/2016/01/logo_fscreations-1-300x300.png')")
        .members-grid-item-heading-wrapper
          .members-grid-item-heading
            | Verkis
      a(href="#").members-grid-item
        .members-grid-item-logo(style="background-image: url('http://ramsdelldesign.com/wp-content/uploads/2016/01/logo_fscreations-1-300x300.png')")
        .members-grid-item-heading-wrapper
          .members-grid-item-heading
            | EFLA
    .members-footer
      a(href="#").members-footer-button
        | Show more
        i.finaut-icon-plus.members-footer-button-icon
