.apply-wrapper
  section.apply
    .apply-about
      h2.apply-heading
        | Become our member
      .apply-description
        | Finance is a field that deals with the study of investments. It includes the dynamics of assets and liabilities over time under conditions of different degrees of uncertainty and risk. Finance can also be defined as the science of money management. Finance aims to price assets based on their risk level and their expected rate of return.
    form(action="#" method="post").apply-form
      input(type="text" placeholder="Company name").apply-field
      input(type="text" placeholder="Org number").apply-field
      input(type="text" placeholder="Management contact").apply-field
      input(type="text" placeholder="E-mail").apply-field
      a(href="#").apply-field.apply-field-attach
        i.finaut-icon-plus.apply-field-attach-icon
        | Attach files
      button.apply-button
        | Send
