$max-tablet-width               = 1023.99px
$max-smartphone-height          = 767.99px
$intermediate-smartphone-height = 639.99px
$max-smartphone-width           = 479.99px
$min-width                      = 320px
$min-height                     = 480px

$color-black                    = #323435
$color-black-semi               = alpha($color-black, 0.36)
$color-white                    = #ffffff
$color-white-semi               = alpha($color-white, 0.36)
$color-gray                     = #f1f1f1
$color-dark-gray                = #e1e1e1
$color-blue                     = #0067ac
$color-red                      = #cf1c22

$color-primary                  = $color-red
$color-secondary                = $color-blue