@require "../../shared/stylus/includes/variables.styl"
@require "../../shared/stylus/includes/mixins.styl"

.error
  //

@media (max-width: $max-tablet-width)
  .error
    //

@media (max-width: $max-smartphone-height)
  .error
    //

@media (max-width: $max-smartphone-width)
  .error
    //
