.process-wrapper
  section.process
    h2.process-heading
      | The Process
    ul.process-navigation
      .process-navigation-icon.finaut-icon-arrow-down
      li.process-navigation-item
        a(href="#").process-navigation-link.process-navigation-link-active.js-process-navigation-link
          | Finance
      li.process-navigation-item
        a(href="#").process-navigation-link.js-process-navigation-link
          | Insurance
          //- .process-navigation-icon.finaut-icon-arrow-down
      li.process-navigation-item
        a(href="#").process-navigation-link.js-process-navigation-link
          | Other item
          //- .process-navigation-icon.finaut-icon-arrow-down
      li.process-navigation-item
        a(href="#").process-navigation-link.js-process-navigation-link
          | Other item
          //- .process-navigation-icon.finaut-icon-arrow-down
    .process-timeline-wrapper
      a(href="#").process-timeline-arrow-left.js-process-timeline-left
        i.finaut-icon-arrow-left-large
      a(href="#").process-timeline-arrow-right.js-process-timeline-right
        i.finaut-icon-arrow-right-large
      .process-timeline
        .process-timeline-item
          | Step one
        .process-timeline-item
          | Step two
        .process-timeline-item
          | Step three
        .process-timeline-item
          | Step four
        .process-timeline-item
          .process-timeline-item-icon
          | Hurray!
    .process-grid-wrapper
      .process-grid
        .process-grid-item
          .process-grid-item-intro
            | Finance is a field that deals with the study of investments. It includes the dynamics of assets and liabilities over time under conditions.
          .process-grid-item-footer
            | 01
        .process-grid-item
          .process-grid-item-intro
            | Finance is a field that deals with the study of investments. It includes the dynamics of assets and liabilities over time under conditions.
          .process-grid-item-footer
            | 02
        .process-grid-item
          .process-grid-item-intro
            | Finance is a field that deals with the study of investments. It includes the dynamics of assets and liabilities over time under conditions.
          .process-grid-item-footer
            | 03
        .process-grid-item
          .process-grid-item-intro
            | Finance is a field that deals with the study of investments. It includes the dynamics of assets and liabilities over time under conditions.
          .process-grid-item-footer
            | 04
        .process-grid-item
          .process-grid-item-intro
            | Finance is a field that deals with the study of investments. It includes the dynamics of assets and liabilities over time under conditions.
          .process-grid-item-footer
            | 05
    .process-footer
      a(href="#").process-footer-button
        | Learn more
        i.finaut-icon-arrow-right.process-footer-button-icon
