.article-wrapper
  section.article
    .article-illustration(style="background-image: url('http://lorempixel.com/1024/768/city/1')")
    h1.article-heading
      |  Finance can also be defined
    article.article-text
      h2 Some subtagline
      p Finance is a field that deals with the study of investments. It includes the dynamics of assets and liabilities over time under conditions of different degrees of uncertainty and risk. Finance can also be defined as the science of money management. Finance aims to price assets based on their risk level and their expected rate of return.  Investment and accumulation goals: planning how to accumulate enough money - for large purchases and life events - is what most people consider to be financial planning. Major reasons to accumulate assets include, purchasing a house or car, starting a business, paying for education expenses, and saving for retirement. Achieving these goals requires projecting what they will cost, and when you need to withdraw funds that will be necessary to be able to achieve these goals. A major risk to the household in achieving their accumulation goal is the rate of price increases over time, or inflation. Using net present value calculators, the financial planner will suggest a combination of asset earmarking and regular savings to be invested in a variety of investments. In order to overcome the rate of inflation, the investment portfolio has to get a higher rate of return, which typically will subject the portfolio to a number of risks. Managing these portfolio risks is most often accomplished using asset allocation, which seeks to diversify investment risk and opportunity. This asset allocation will prescribe a percentage allocation to be invested in stocks (either preferred stock and/or common stock), bonds (for example mutual bonds or government bonds, or corporate bonds), cash and alternative investments. The allocation should also take into consideration the personal risk profile of every investor, since risk attitudes vary from person to person.
      h2 The list of items
      ul
        li Finance can also be defined as the science of money management.
        li Finance aims to price assets based on their risk level and their expected rate of return.
        li The investment portfolio has to get a higher rate of return.
        li The allocation should also take into consideration the personal risk profile of every investor.
        li Finance is a field that deals with the study of investments.
      h2 the picture slider
      img(src="http://lorempixel.com/1024/768/city/2")
      p Finance is a field that deals with the study of investments. It includes the dynamics of assets and liabilities over time under conditions of different degrees of uncertainty and risk. Finance can also be defined as the science of money management. Finance aims to price assets based on their risk level and their expected rate of return.  Investment and accumulation goals: planning how to accumulate enough money - for large purchases and life events - is what most people consider to be financial planning. Major reasons to accumulate assets include, purchasing a house or car, starting a business, paying for education expenses, and saving for retirement. Achieving these goals requires projecting what they will cost, and when you need to withdraw funds that will be necessary to be able to achieve these goals. A major risk to the household in achieving their accumulation goal is the rate of price increases over time, or inflation. Using net present value calculators, the financial planner will suggest a combination of asset earmarking and regular savings to be invested in a variety of investments. In order to overcome the rate of inflation, the investment portfolio has to get a higher rate of return, which typically will subject the portfolio to a number of risks. Managing these portfolio risks is most often accomplished using asset allocation, which seeks to diversify investment risk and opportunity. This asset allocation will prescribe a percentage allocation to be invested in stocks (either preferred stock and/or common stock), bonds (for example mutual bonds or government bonds, or corporate bonds), cash and alternative investments. The allocation should also take into consideration the personal risk profile of every investor, since risk attitudes vary from person to person.

.article-related-wrapper
  section.article-related
    .article-related-heading
      | Related articles
    .article-related-grid
      a(href="article.html").article-related-grid-item
        .article-related-grid-item-illustration(style="background-image: url('http://lorempixel.com/290/180/city/2')")
        .article-related-grid-item-content
          .article-related-grid-item-heading
            | Finance is a field that deals with the study of investments
          .article-related-grid-item-date
            | 18.12.2016
      a(href="article.html").article-related-grid-item
        .article-related-grid-item-illustration(style="background-image: url('http://lorempixel.com/290/180/city/3')")
        .article-related-grid-item-content
          .article-related-grid-item-heading
            | Finance is a field that deals with the study of investments
          .article-related-grid-item-date
            | 18.12.2016
      a(href="article.html").article-related-grid-item
        .article-related-grid-item-illustration(style="background-image: url('http://lorempixel.com/290/180/city/4')")
        .article-related-grid-item-content
          .article-related-grid-item-heading
            | Finance is a field that deals with the study of investments
          .article-related-grid-item-date
            | 18.12.2016
