section.search
  .search-form-wrapper
    form(action="#" method="get").search-form
      .search-form-heading
        | Search results for:
      input(type="text" placeholder="Search for..." value="Finance").search-form-field
  .search-results-wrapper
    .search-results
      .search-results-heading
        | 4 results
      ul.search-results-list
        li.search-results-item
          a(href="#").search-results-link
            .search-results-number
              | 01.
            .search-results-text
              | Finance is a field that deals with the study of investments?
              .search-results-date
                | 18.12.2016
              i.finaut-icon-arrow-right.search-results-icon
        li.search-results-item
          a(href="#").search-results-link
            .search-results-number
              | 02.
            .search-results-text
              | Finance is a field that deals with the study of investments?
              .search-results-date
                | 18.12.2016
              i.finaut-icon-arrow-right.search-results-icon
        li.search-results-item
          a(href="#").search-results-link
            .search-results-number
              | 03.
            .search-results-text
              | Finance is a field that deals with the study of investments?
              .search-results-date
                | 18.12.2016
              i.finaut-icon-arrow-right.search-results-icon
        li.search-results-item
          a(href="#").search-results-link
            .search-results-number
              | 04.
            .search-results-text
              | Finance is a field that deals with the study of investments?
              .search-results-date
                | 18.12.2016
              i.finaut-icon-arrow-right.search-results-icon
