.news-wrapper
  .news
    .news-heading
      | Latest news
    .news-grid
      a(href="article.html").news-grid-item
        .news-grid-item-illustration(style="background-image: url('http://lorempixel.com/220/130/city/1')")
        .news-grid-item-intro
          | Finance is a field that deals with the study of investments
      a(href="article.html").news-grid-item
        .news-grid-item-illustration(style="background-image: url('http://lorempixel.com/220/130/city/2')")
        .news-grid-item-intro
          | Finance is a field that deals with the study of investments
      a(href="article.html").news-grid-item
        .news-grid-item-illustration(style="background-image: url('http://lorempixel.com/220/130/city/3')")
        .news-grid-item-intro
          | Finance is a field that deals with the study of investments
      a(href="article.html").news-grid-item
        .news-grid-item-illustration(style="background-image: url('http://lorempixel.com/220/130/city/4')")
        .news-grid-item-intro
          | Finance is a field that deals with the study of investments
