.footer-wrapper
  section.footer
    .footer-grid
      .footer-contacts
        .footer-contacts-heading
          | Contacts
        .footer-contacts-grid
          .footer-contacts-grid-column
            .footer-contacts-grid-item
              .footer-contacts-grid-item-heading
                | Address
              .footer-contacts-grid-item-text
                | Saint Dollar st. 95
                br
                | 1234 Oslo
            .footer-contacts-grid-item
              .footer-contacts-grid-item-heading
                | Phone
              .footer-contacts-grid-item-text
                | 12 34 56 78
          .footer-contacts-grid-column
            .footer-contacts-grid-item
              .footer-contacts-grid-item-heading
                | E-Mail
              .footer-contacts-grid-item-text
                a(href="mailto:info@finaut.no")
                  | info@finaut.no
            .footer-contacts-grid-item
              .footer-contacts-grid-item-heading
                | We are social
              .footer-contacts-grid-item-text
                a(href="#").footer-social-icon
                  i.ion-social-facebook
                a(href="#").footer-social-icon
                  i.ion-social-linkedin
                a(href="#").footer-social-icon
                  i.ion-social-twitter
      .footer-newsletter
        .footer-newsletter-heading
          | Newsletters
        form(action="#" method="post").footer-newsletter-form
          input(type="text" placeholder="Enter your e-mail addres").footer-newsletter-field
          button.footer-newsletter-button
            | Subscribe
    .footer-grid.footer-footer
      .footer-copyright
        | Copyrightʩ 2016 Finaut. All rights reserved.
      .footer-credits
        | Develeped by&#32;
        a(href="#")
          | Barents Consult
