.intro-wrapper
  section.intro
    .intro-heading
      | Business
    .intro-subheading
      | Finaut is the platform wich helps you to get the accreditation for your business in a few areas
    .intro-buttons
      a(href="#").intro-button
        | Learn more
        i.finaut-icon-arrow-right
      | &#160;&#160;&#160;
      a(href="consumer.html").intro-button.intro-button-secondary
        | Wait, I'm a consumer
