.advantages-wrapper
  section.advantages
    h2.advantages-heading
      | Advantages
    .advantages-grid
      .advantages-grid-item
        .advantages-grid-item-icon
          i.ion-ios-pie-outline
        .advantages-grid-item-heading
          | Advantage heading
        .advantages-grid-item-intro
          | Finance is a field that deals with the study of investments. It inclu-des the dynamics of assets and liabilities over time under conditions of different degrees..
      .advantages-grid-item
        .advantages-grid-item-icon
          i.ion-monitor
        .advantages-grid-item-heading
          | Advantage heading
        .advantages-grid-item-intro
          | Finance is a field that deals with the study of investments. It inclu-des the dynamics of assets and liabilities over time under conditions of different degrees..
      .advantages-grid-item
        .advantages-grid-item-icon
          i.ion-ios-time-outline
        .advantages-grid-item-heading
          | Advantage heading
        .advantages-grid-item-intro
          | Finance is a field that deals with the study of investments. It inclu-des the dynamics of assets and liabilities over time under conditions of different degrees..
      .advantages-grid-item
        .advantages-grid-item-icon
          i.ion-help-buoy
        .advantages-grid-item-heading
          | Advantage heading
        .advantages-grid-item-intro
          | Finance is a field that deals with the study of investments. It inclu-des the dynamics of assets and liabilities over time under conditions of different degrees..
      .advantages-grid-item
        .advantages-grid-item-icon
          i.ion-ios-chatboxes-outline
        .advantages-grid-item-heading
          | Advantage heading
        .advantages-grid-item-intro
          | Finance is a field that deals with the study of investments. It inclu-des the dynamics of assets and liabilities over time under conditions of different degrees..
      .advantages-grid-item
        .advantages-grid-item-icon
          i.ion-paper-airplane
        .advantages-grid-item-heading
          | Advantage heading
        .advantages-grid-item-intro
          | Finance is a field that deals with the study of investments. It inclu-des the dynamics of assets and liabilities over time under conditions of different degrees..
