doctype html

html(lang="no")
  include shared/pug/head.pug
  body
    .page-wrapper.page-apply
      include components/header/header.pug
      include components/apply/apply.pug
      include components/footer/footer.pug

    include shared/pug/scripts.pug
