doctype html

html(lang="no")
  include shared/pug/head.pug
  body
    .page-wrapper.page-article
      include components/header/header.pug
      include components/article/article.pug      
      include components/footer/footer.pug

    include shared/pug/scripts.pug
