doctype html

html(lang="no")
  include shared/pug/head.pug
  body
    .page-wrapper.page-consumer
      include components/header/header.pug
      include components/intro-consumer/intro-consumer.pug
      include components/members/members.pug
      include components/advantages/advantages.pug
      include components/trust/trust.pug
      include components/footer/footer.pug

    include shared/pug/scripts.pug
