doctype html

html(lang="no")
  include shared/pug/head.pug
  body
    .page-wrapper.page-home
      include components/header/header.pug
      include components/intro/intro.pug
      include components/news/news.pug
      include components/advantages/advantages.pug
      include components/process/process.pug
      include components/trust/trust.pug
      include components/faq/faq.pug
      include components/team/team.pug
      include components/members/members.pug
      include components/articles/articles.pug
      include components/apply/apply.pug
      include components/footer/footer.pug

    include shared/pug/scripts.pug
