doctype html

html(lang="no")
  include shared/pug/head.pug
  body
    .page-wrapper.page-search-results
      include components/header/header.pug
      include components/search/search.pug
      include components/footer/footer.pug

    include shared/pug/scripts.pug
