.faq-wrapper
  section.faq
    h2.faq-heading
      | FAQ
    form(action="#" method="get").faq-filter-form
      .faq-filter-field-wrapper
        input(type="text" placeholder="Start typing").faq-filter-field
        button(type="submit").faq-filter-button
          i.faq-filter-button-icon.finaut-icon-search
    .faq-subheading
      | Popular questions
    ul.faq-questions
      li.faq-questions-item
        a(href="#").faq-questions-link.js-faq-expand-control
          | Finance is a field that deals with the study of investments?
          i.finaut-icon-arrow-down.faq-questions-link-icon
        a(href="#").faq-questions-response
          | Yes, finance is a field that deals with the study of investments. It includes the dynamics of assets and liabilities over time under conditions of different degrees of uncertainty and risk. Finance can also be defined as the science of money management. Finance aims to price assets based on their risk level and their expected rate of return. Finance can be broken into three different sub-categories.
      li.faq-questions-item
        a(href="#").faq-questions-link.js-faq-expand-control
          | Finance is a field that deals with the study of investments?
          i.finaut-icon-arrow-down.faq-questions-link-icon
        a(href="#").faq-questions-response
          | Yes, finance is a field that deals with the study of investments. It includes the dynamics of assets and liabilities over time under conditions of different degrees of uncertainty and risk. Finance can also be defined as the science of money management. Finance aims to price assets based on their risk level and their expected rate of return. Finance can be broken into three different sub-categories.
      li.faq-questions-item.faq-questions-item-expanded
        a(href="#").faq-questions-link.js-faq-expand-control
          | Finance is a field that deals with the study of investments?
          i.finaut-icon-arrow-down.faq-questions-link-icon
        a(href="#").faq-questions-response
          | Yes, finance is a field that deals with the study of investments. It includes the dynamics of assets and liabilities over time under conditions of different degrees of uncertainty and risk. Finance can also be defined as the science of money management. Finance aims to price assets based on their risk level and their expected rate of return. Finance can be broken into three different sub-categories.
      li.faq-questions-item
        a(href="#").faq-questions-link.js-faq-expand-control
          | Finance is a field that deals with the study of investments?
          i.finaut-icon-arrow-down.faq-questions-link-icon
        a(href="#").faq-questions-response
          | Yes, finance is a field that deals with the study of investments. It includes the dynamics of assets and liabilities over time under conditions of different degrees of uncertainty and risk. Finance can also be defined as the science of money management. Finance aims to price assets based on their risk level and their expected rate of return. Finance can be broken into three different sub-categories.
